.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0.07) 100%);

  &::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 15%;
    width: 200px;
    height: 200px;
    background: rgba(106, 17, 203, 0.5);
    filter: blur(100px);
    border-radius: 50%;
    z-index: 0;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 20%;
    right: 10%;
    width: 300px;
    height: 300px;
    background: rgba(119, 151, 255, 0.9);
    filter: blur(150px);
    border-radius: 50%;
    z-index: 0;
  }
}

/* .signup-header {
  text-align: center;
  margin-bottom: 2rem;
}

.logo {
  width: 100px;
  margin-bottom: 1rem;
} */
.signup-header {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content */
  align-items: center; /* Horizontally center the content */
  margin-bottom: 2rem;
}

.logo {
  width: 100px;
  margin-bottom: 1rem;
}

.progress-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin: 1rem auto;
}

.step {
  flex: 1;
  text-align: center;
  font-size: 0.9rem;
  color: #bbb;
  position: relative;
}

.step.active {
  color: rgba(119, 151, 255, 0.9);
  font-weight: bold;
}

.step::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #ddd;
  position: absolute;
  top: -10px;
  left: 0;
  z-index: 1;
}

.step.active::before {
  background-color: rgba(119, 151, 255, 0.9);
}

.signup-form {
  background: #fff;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  z-index: 1;
}

.input-group {
  margin-bottom: 1.5rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.input-group input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.form-action {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.back-btn,
.next-btn,
.submit-btn {
  padding: 0.8rem 1.5rem;
  border: none;
  background: rgba(119, 151, 255, 0.9);
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.back-btn:hover,
.next-btn:hover,
.submit-btn:hover {
  background: rgba(106, 17, 203, 0.5);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
}
